<main class="container">
    <h2>Carrito</h2>
    <h3>Cantidad de productos en el carrito {{countCart}}</h3>
     {{#if countCart}}
        <table class="table table-dark table-striped">
            <thead>
               <th scope="col" >Producto</th>
               <th scope="col" >Precio</th>
               <th scope="col" >Cantidad</th>
               <th scope="col" ></th>
            </thead>
            <tbody>
               {{#each products}}
               <tr>
                  <td>{{ this.product.title }}</td>
                  <td>{{ this.product.price }}</td>
                  <td>{{ this.quantity }}</td>
                  <td><a href="/carts/delete/{{this.product._id}}">Eliminar</a></td>
                  </tr>
               {{/each}}
               <tr>
                  <td></td>
                  <td>${{ sumT }}</td>
                  <td>{{ counT }}</td>
                  <td></td>
               </tr>
            </tbody>
          </table>
          <a class="btn btn-primary" href="/products">Volver al carrito</a>
     {{/if}}
</main>