<main class="container">
    <h2>Ticket</h2>
   
     {{#if countCart}}
        <table class="table table-dark table-striped w-25">
            <thead>
               <th scope="col" >Producto</th>
               <th scope="col" >Precio</th>
               <th scope="col" >Cantidad</th>
            </thead>
            <tbody>
               {{#each products}}
               <tr>
                  <td>{{ this.product.title }}</td>
                  <td>{{ this.product.price }}</td>
                  <td>{{ this.quantity }}</td>
                  </tr>
               {{/each}}
               <tr>
                  <td></td>
                  <td>${{ sumT }}</td>
                  <td>{{ counT }}</td>
             
               </tr>
            </tbody>
          </table>
          <h4><i>{{this.mensaje}}</i></h4>
          <a class="btn btn-primary" href="/products">Volver</a>
          
     {{/if}}
</main>